.current {
    color: green;
}

h2, h3, h4, h5, h6 {
    position: relative;
}

h2:hover a.anchor-link,
h3:hover a.anchor-link,
h4:hover a.anchor-link {
    opacity: 1;
}

a.anchor-link {
    position: relative;
    left: 0%;
    margin-left: 10px;
    padding: 0 5px;

    opacity: 0;
    color: #333;
    text-decoration: none;
    font-weight: normal;

    transition: opacity 0.15s ease-in-out;
}

a.anchor-link:before {
    content: "#";
}

.site-logo {
    height: 200px;
    width: auto;
    float: right;
    margin: 0 0 10px 20px;
}

.nav-menu ul {
    padding: 0px
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    padding: 15px 20px;
}

.demos-list {
    overflow-x: auto;
    overflow-y: hidden;
    touch-action: pan-y;
    padding-bottom: 10px;
    
    display: flex;
    flex-wrap: nowrap;
}

.demo-card {
    flex: 0 0 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
