.current {
    color: green;
}

.site-logo {
    height: 200px;
    width: auto;
    float: right;
    margin: 0 0 10px 20px;
}

.nav-menu ul {
    padding: 0px
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    padding: 15px 20px;
}
