<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}- {{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<!--    <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link>-->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
  </body>
</html>
